@model Internet.Models.Result

@{
    ViewBag.Title = "TestResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int t = 0;
}

<h2>TestResult</h2>

<fieldset>
    <legend>Result</legend>

    <div class="display-label">Test</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Test.TestName)
    </div>

    <div class="display-label">UserName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">ResultDescription</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ResultDescription)
    </div>
    <div class="display-label">Answers</div>
    <div class="display-field">
        <ul>
        @foreach(var item in Model.AnswersResults)
        {
           
            <li>@item.Answer.AnswerBody @item.Answer.IsRight</li>
            if(item.Answer.IsRight)
            {
                t++;
            }
        }
        </ul>
        <h2>Ваш результат @t из @Model.AnswersResults.Count</h2>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to Tests", "Index")
</p>
