@model Internet.Models.Answer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Answer</legend>

    <div class="display-label">AnswerBody</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AnswerBody)
    </div>

    <div class="display-label">IsRight</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsRight)
    </div>

    <div class="display-label">QuestionID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionID)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
