@model Internet.Models.Test

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Test</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.TestName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TestName)
            @Html.ValidationMessageFor(model => model.TestName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TestDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TestDescription)
            @Html.ValidationMessageFor(model => model.TestDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryID)
            @Html.ValidationMessageFor(model => model.CategoryID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TestAuthor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TestAuthor)
            @Html.ValidationMessageFor(model => model.TestAuthor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DifficultyID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DifficultyID)
            @Html.ValidationMessageFor(model => model.DifficultyID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
