@model Internet.Models.Question

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Question</legend>

    <div class="display-label">QuestionBody</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionBody)
    </div>
    <br />
    <div class="display-label">TestID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TestID)
    </div>
    <br />
    <div class="display-label">QuestionType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionType)
    </div>
    <br />

    <div class="display-label">Answer:  </div>
    <div class="display-label">
        @foreach(var item in Model.Answers)
        {
            @item.AnswerBody<br/>
        }
    </div>
</fieldset>
<p>
    <a href = "@Url.Content("~/Answer/Index/" + Model.ID.ToString())"> View Answers</a>|
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index", new { id = Model.ID })
</p>
